.font-base {
	font-size: var(--font-size-md);
	font-weight: var(--font-weight-regular);
	line-height: var(--font-line-height-normal);
}

.font-upper {
	font-size: var(--font-size-sm);
	font-weight: var(--font-weight-medium);
	text-transform: uppercase;
	line-height: var(--font-line-height-none);
	letter-spacing: var(--font-letter-spacing-spaced);
}
